.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0.10em 2em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: #ffffff;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}